@font-face {
  font-family: 'WhitneyBook';
  src: url('../assets/fonts/whitneyhtf-book.eot?') format('eot'), url('../assets/fonts/whitneyhtf-book.woff') format('woff'), url('../assets/fonts/whitneyhtf-book.ttf') format('truetype');
}

@font-face {
  font-family: 'WhitneyBookSC';
  src: url('../assets/fonts/whitneyhtf-booksc.eot?') format('eot'), url('../assets/fonts/whitneyhtf-booksc.woff') format('woff'), url('../assets/fonts/whitneyhtf-booksc.ttf') format('truetype');
}

* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.2em;
}

#splash {
	height: 600px;
	background-image: url('../assets/images/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}

#logo {
	height: 200px;
	width: 200px;
	margin: 3em auto 0em auto;
}

h1 {
	font-family: 'WhitneyBookSC';
	color: white;
	font-size: 15em;
}

#splash > h2 {
	font-family: 'WhitneyBook';
	font-weight: 200;
	color: white;
	font-size: 2em;
}

#features {
	background: -webkit-linear-gradient(top, #ffffff 0%,#e9e9e9 100%);
	text-align: center;
	font-family: 'WhitneyBook';
	position: relative;
	overflow: scroll;
	padding: 0 10%;
}

#features > h2 {
	color: #383838;
	font-size: 3em;
	margin: 1em auto;
}

h3 {
	font-size: 2em;
}

ul {
	margin: 2em auto 4em auto;
}

ul > li {
	margin: 1em auto;
	font-family: 'Georgia';
	font-style: italic;
	font-size: 1.5em;
	color: #ff3f4e;
}

ul > li:nth-child(even) {
	color: #c03944;
}

#footer {
	display: table;
	width: 100%;
	background: -webkit-linear-gradient(top, #353535 0%,#3c3a3a 100%);
	text-align: center;
	font-size: 1.25em;
	color: #9a9a9a;
	font-family: 'WhitneyBook';
	padding-top: 20px;
	padding-bottom: 20px;
	oveflow: scroll;
}

#footer > p {
	vertical-align: middle;
	margin: 0.5em auto;
}

a, a:active, a:visited {
	text-decoration: none;
	color: #9a9a9a;
	border-bottom: 1px solid #9a9a9a;
}

a:hover {
	border-bottom: 2px solid #9a9a9a;
}