@font-face {
    font-family: microphone;
    src: url(../assets/fonts/microphone.eot);
    src: url(../assets/fonts/microphone.eot?#iefix) format("embedded-opentype"),url(../assets/fonts/microphone.woff) format("woff"),url(../assets/fonts/microphone.ttf) format("truetype"),url(../assets/fonts/microphone.svg#microphone) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'WhitneyBook';
  src: url('../assets/fonts/whitneyhtf-book.eot?') format('eot'), url('../assets/fonts/whitneyhtf-book.woff') format('woff'), url('../assets/fonts/whitneyhtf-book.ttf') format('truetype');
}

.icon-wit-mic {
    font-family: microphone;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wit-mic:before {
    content: "\e600";
}

.wit-microphone {
	margin: 12px auto 10px 10px;
    font-family: "Lucida Grande",Verdana,Tahoma,Helvetica,Arial,sans-serif;
    text-align: center;
    position: relative;
    height: 70px;
    width: 70px;
    vertical-align: middle;
    display: inline-block;
}

.wit-microphone.active .mic {
    color: #ff3f4e;
    border-color: #ff3f4e;
}

.wit-microphone.thinking .mic-box {
	color: #ff3f4e;
    /* border-color: #ff3f4e; */
}

.mic-box {
    border: 4px solid #a5a5a5;
    /* -webkit-border-image: -webkit-linear-gradient(top, #ff5e3a 0%,#ff2a68 100%); */
}

.mic-svg {
    position: absolute;
    top: 0;
    left: 0;
    border-color: transparent;
}

.mic {
    background: #fff;
    border-radius: 100%;
    color: #787878;
    cursor: pointer;
    display: inline-block;
    font-size: 42px;
    line-height: 70px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    -webkit-transition: border-color .5s,color .5s;
    -moz-transition: border-color .5s,color .5s;
    -o-transition: border-color .5s,color .5s;
    transition: border-color .5s,color .5s;
}

.mic-status {
    color: #ccc;
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
}

#pia_container {
    z-index: 1000;
	width: 350px;
	height: 100px;
	position: fixed;
	top: 15px;
	right: 15px;
	border: 1px solid rgba(204, 204, 204, 0.5);
	border-radius: 10px;
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 100%);
	overflow-y: hidden;
}

#pia_text_div {
    font-family: 'whitneyhtf-book', Helvetica, Arial, sans-serif;
	display: inline-block;
	margin-left: 30px;
	vertical-align: middle;
	max-width: 200px;
	overflow-y: hidden;
    color: #787878;
}

#pia_result {
    font-size: 1em;
    font-family: 'Georgia';
    font-style: italic;
}



